<!doctype html>
<html lang="en">


<!-- Mirrored from themesdesign.in/upzet/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Oct 2021 13:28:47 GMT -->

<head>

    <meta charset="utf-8" />
    <title>Dashboard | Upzet - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets1/images/favicon.ico">

    <!-- jvectormap -->
    <link href="~/assets1/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="~/assets1/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets1/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets1/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box text-center">
                        <a asp-action="index" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="~/assets1/images/logo-sm.png" alt="logo-sm-dark" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets1/images/logo-dark.png" alt="logo-dark" height="24">
                            </span>
                        </a>

                        <a asp-action="index" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/assets1/images/logo-sm.png" alt="logo-sm-light" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets1/images/logo-light.png" alt="logo-light" height="24">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                            id="vertical-menu-btn">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>

                </div>

                <div class="d-flex">
                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line"></i>
                        </button>
                    </div>


                    <div class="dropdown d-inline-block user-dropdown">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-xl-inline-block ms-1">Kevin</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                            <a class="dropdown-item text-danger">
                                <i class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a asp-action="index" class="waves-effect">
                                <i class="mdi mdi-home-variant-outline"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>


                        <li>
                            <a class="has-arrow waves-effect">
                                <i class="ri-table-2"></i>
                                <span>Tables</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-action="index" asp-controller="testimonial">Testimonials</a></li>
                                <li><a asp-action="index" asp-controller="Gallery">Galleries</a></li>
                                <li><a asp-action="index" asp-controller="BlogCategory">Blog Categories</a></li>
                                <li><a asp-action="index" asp-controller="OurService">Our Services</a></li>
                                <li><a asp-action="index" asp-controller="Tag">Tags</a></li>
                                <li><a asp-action="index" asp-controller="Feature">Features</a></li>
                                <li><a asp-action="index" asp-controller="RoomCategory">Room Categories</a></li>
                                <li><a asp-action="index" asp-controller="RoomFeature">Room Features</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        @RenderBody();
        <!-- ============================================================== -->
        <!-- End of Content-->
        <!-- ============================================================== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Upzet.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            by Themesdesign
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/assets1/libs/jquery/jquery.min.js"></script>
    <script src="~/assets1/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets1/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets1/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets1/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts js -->
    <!-- jquery.vectormap map -->
    <script src="~/assets1/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets1/libs/jqvmap/maps/jquery.vmap.usa.js"></script>


    <script src="~/assets1/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/assets1/js/pages/sweet-alerts.init.js"></script>
    <script src="~/assets1/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets1/libs/node-waves/waves.min.js"></script>

    <script src="~/assets1/js/app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.19/sweetalert2.min.js" integrity="sha512-jfVndX8aB+LSJHnrd4BY42vPo2J6NjccZclbhoXEvP8sFnZrj4umbXNHtdoYvacUAN+4X5su5wXjDGAuz5ceog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>

<!-- Mirrored from themesdesign.in/upzet/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Oct 2021 13:29:02 GMT -->

</html>