@model AdminUpdateViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<!doctype html>
<html lang="en">


<!-- Mirrored from themesdesign.in/upzet/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Oct 2021 13:29:20 GMT -->

<head>

    <meta charset="utf-8" />
    <title>Login | Upzet - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets1/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/assets1/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets1/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets1/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="bg-pattern">
    <div class="bg-overlay"></div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="">
                                <div class="text-center">
                                    <a href="~/index.html" class="">
                                        <img src="~/assets1/images/logo-dark.png" alt="" height="24"
                                             class="auth-logo logo-dark mx-auto">
                                        <img src="~/assets1/images/logo-light.png" alt="" height="24"
                                             class="auth-logo logo-light mx-auto">
                                    </a>
                                </div>
                                <!-- end row -->
                                <h4 class="font-size-18 text-muted mt-2 text-center">Welcome Back !</h4>
                                <p class="mb-5 text-center">Edit Account Info</p>
                                <form method="post" class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label asp-for="UserName" class="form-label" for="username">Username</label>
                                                <input required asp-for="UserName" type="text" class="form-control" id="username"
                                                       placeholder="Enter username">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                            <div class="mb-4">
                                                <label asp-for="Password" class="form-label" for="userpassword">Password</label>
                                                <input required asp-for="Password" type="password" class="form-control" id="userpassword"
                                                       placeholder="Enter password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>                                            
                                            <div class="mb-4">
                                                <label asp-for="ConfirmPassword" class="form-label" for="userpassword">Repead Password</label>
                                                <input required asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword"
                                                       placeholder="Enter password">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>                                            
                                            <div class="mb-4">
                                                <label asp-for="CurrentPassword" class="form-label" for="userpassword">Current Password</label>
                                                <input required asp-for="CurrentPassword" type="password" class="form-control" id="CurrentPassword"
                                                       placeholder="Enter password">
                                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                            </div>
                                            <div class="d-grid mt-4">
                                                <button class="btn btn-primary waves-effect waves-light"
                                                        type="submit">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p class="text-white-50">
                            ©
                            <script>document.write(new Date().getFullYear())</script> Upzet. by Themesdesign
                        </p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end Account pages -->
    <!-- JAVASCRIPT -->
    <script src="~/assets1/libs/jquery/jquery.min.js"></script>
    <script src="~/assets1/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets1/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets1/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets1/libs/node-waves/waves.min.js"></script>

    <script src="~/assets1/js/app.js"></script>

</body>

<!-- Mirrored from themesdesign.in/upzet/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Oct 2021 13:29:20 GMT -->

</html>

