@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section class="section__contacts-alt" style="background-image: url(../assets/img/blog_bg.jpg);">
    <div class="container">
        <div class=" row">
            <div style="width: 70%; margin:auto;">
                <div class="section-contacts__form_body">
                    <p class="section-contacts__title">Login to your account</p>

                    <!-- Alert message -->
                    <div class="alert" id="form_message" role="alert"></div>

                    <!-- Form -->
                    <form method="post" id="formsendemail" class="contacts__form">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <!-- Email -->
                        <div class="form-group">
                            <label asp-for="Username" class="sr-only">Username</label>
                            <input asp-for="Username" type="text" name="username" class="form-control" id="username"
                                   placeholder="Enter your username" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label asp-for="Password" class="sr-only">Password</label>
                            <input asp-for="Password" type="password" name="password" class="form-control" id="password"
                                   placeholder="Enter your password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Note -->
                        <div class="form-group">
                            <small class="text-muted">
                                Don't have an account? <a asp-action="register" asp-controller="account">Register</a>
                            </small>
                        </div>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-default">
                            Log in
                        </button>

                    </form> <!-- .contacts__form -->

                </div> <!-- / .section-contacts__form_body -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__contacts-alt -->
