@model Testimonial
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Testimonials Create</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">Testimonials Create</li>
                            </ol>
                        </div>
                    </div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="FullName">FullName</label>
                                <input type="text" asp-for="FullName" class="form-control">
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Profession">Profession</label>
                                <input asp-for="Profession" class="form-control" type="text">
                                <span class="text-danger" asp-validation-for="Profession"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Desc">Description</label>
                                <textarea asp-for="Desc" class="form-control"></textarea>
                                <span class="text-danger" asp-validation-for="Desc"></span>
                            </div>

                            <div class="form-group" style="margin: 20px 0px 20px 0px;">
                                <input asp-for="ImageFile" value="" />
                                <span class="text-danger" asp-validation-for="ImageFile"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>